/*  --------------------------------------------------------------------------
    3-5. main
    --------------------------------------------------------------------------  */
.main {
    width: 400px;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.main__title {
    font-weight: bold;
    font-size: 4em;
}
